@using Microsoft.AspNet.Identity
@model IEnumerable<BllodSugarTester.Models.caltoid>
<head>
    <title>Submit your Blood Sugar</title>
    <meta charset='utf-8' />
</head>

<body>
    <p>Google Calendar API Quickstart</p>

    <!--Add buttons to initiate auth sequence and sign out-->
    <button id="authorize-button" style="display: none;">Authorize</button>
    <button id="signout-button" style="display: none;">Sign Out</button>

    @*<pre id="content"></pre>*@
    <div id="Path">

    </div>

    <form method="post">
        <div>
            <input name="UserId" value="@User.Identity.GetUserId()" />
            </div>
        <div>
            <label for="Time" >Time :</label>
        </div>
        <div>
            <input type="text" name="Time" value="@DateTime.Now.TimeOfDay.Hours:@DateTime.Now.TimeOfDay.Minutes" />
        </div>
        <div>
            <label for="Date">Date :</label>
        </div>
        <div>
            <input type="text" name="Date" value="@DateTime.Now.Date.ToString("d")" />
        </div>
        <div>
            <label for="Bs">Blood Sugar :</label>
        </div>
        <div>
            <input type="text" id="blood" name="BloodSugar" value="" />
        </div>
        <div>
            <input onclick="checkNumber(document.getElementById('blood').value)" type="submit"  id="bloody" class="btn btn-default" value="Submit">
        </div>
    </form>
    <div>
        
    </div>
    <script type="text/javascript">
        var CLIENT_ID = '359173490060-648im88guobnnhdb2hoqf3e7taqbrvhr.apps.googleusercontent.com';

        var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest"];

        var SCOPES = "https://www.googleapis.com/auth/calendar";

        var authorizeButton = document.getElementById('authorize-button');
        var signoutButton = document.getElementById('signout-button');

        function handleClientLoad() {
            gapi.load('client:auth2', initClient);
        }

        function initClient() {
            gapi.client.init({
                discoveryDocs: DISCOVERY_DOCS,
                clientId: CLIENT_ID,
                scope: SCOPES
            }).then(function () {
                // Listen for sign-in state changes.
                gapi.auth2.getAuthInstance().isSignedIn.listen(updateSigninStatus);

                // Handle the initial sign-in state.
                updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
                authorizeButton.onclick = handleAuthClick;
                signoutButton.onclick = handleSignoutClick;
            });
        }

        function updateSigninStatus(isSignedIn) {
            if (isSignedIn) {

                authorizeButton.style.display = 'none';
                signoutButton.style.display = 'block';

            } else {
                authorizeButton.style.display = 'block';
                signoutButton.style.display = 'none';
            }
        }

        function handleAuthClick(event) {
            gapi.auth2.getAuthInstance().signIn();
        }

        function handleSignoutClick(event) {
            gapi.auth2.getAuthInstance().signOut();
        }

        function appendPre(message) {
            var pre = document.getElementById('content');
            var textContent = document.createTextNode(message + '\n');
            pre.appendChild(textContent);
        }

        function newCalendar() {
            var request = gapi.client.calendar.calendars.insert({
                "resource":
                      {

                          "summary": "Blood Sugar Numbers",
                          "description": "nope",
                          "timezone": "America/Chicago"
                      }
            });
            //alert(request);
            request.execute(function (response) {
                console.log(response);
            });
        }
        

        function checkNumber(theblood) {
            ;
            thebloodint = parseInt(theblood);
            
            
            @{
                var low = 0;
                var high = 0;

                foreach (var info in Model) { if (info.Id == User.Identity.GetUserId()) {  low = info.UpperLimit;  high = info.LowerLimit;
                    Console.WriteLine("pillow");} }
                        };

            if ( @low != 0 && thebloodint <= @low ) {
                alert("you are low"));
                    }
        if (@high != 0 && thebloodint >= @high ) {
            alert("you are high"));
                }
                else{
                    alert("Pie")
                }
                newEvent();
        }
        function newEvent()
        {
            
            @{var y = "";
                          foreach (var info in Model) { if (info.Id == User.Identity.GetUserId()) { y += info.calenID; } } }
           
            var x = document.getElementById("blood").value;
            console.log(x);
            console.log('@y');
            var request = gapi.client.calendar.events.insert({
                "calendarId": "@y",
                "start": {
                    "dateTime": (new Date()).toISOString(),
                    "timezone": "America/Chicago"
                },
                "end": {
                    "dateTime": (new Date()).toISOString(),
                    "timezone": "America/Chicago"
                },
                "summary": '"'+x+'"',
                "description": "nope",

            });
            //alert(request);
            request.execute(function (response) {
                console.log(response)
            });

        }
        function getCalendar() {
            var request = gapi.client.calendar.calendarList.list({

            });
            //alert(request);
            request.execute(function (response) {
                console.log(response.items[0].id);
                console.log(response);
            });
        }
        function testThis() {




            var url = "https://www.googleapis.com/calendar/v3/users/me/calendarList";
            $.ajax({
                type: 'GET',
                data: {},
                url: url,
                dataType: 'json',
                scope: 'https://www.googleapis.com/auth/calendar',
                success: function (data) {

                    console.log(data);

                    var petfinder = data.petfinder;


                },
                error: function (request, error) {
                    console.log(request, error);
                }
            });
        };



    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/api.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
                onload="this.onload=function(){};handleClientLoad()"
                onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>
</body>
