@model IEnumerable<BllodSugarTester.Models.BloodSugars>
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "DisplayNumbers";
}

<h2>DisplayNumbers</h2>
<div id='displayed'>

    @foreach (var info in Model)
    {
        if (info.UserId == User.Identity.GetUserId())
        {
    
            <p>@info.BloodSugar, at @info.Time, on @info.Date</p>
       
            }
        }
    

</div>

<script >
    for(var info in Model)
    {
       
        if (info.UserId == User.Identity.GetUserId())
        {
    
        $('displayed').append(
            "<tr>" +
            "<td>" + info.BloodSugar + "at" + info.Time + "on" + info.Date + "</td>"

            + "</tr>"
            );
        }
    }
</script>